@import 'src/styles/_colors';
@import 'src/styles/screen_sizes';

.Contact {

    ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 32vh;
        margin-bottom: 32vh;
        list-style: none;
    }

    li {
        flex: 1 0 21%
    }

    img {
        width: 30px;
    }

}

@media (min-width: $small-screen) {
    .Contact {
        ul {
            margin-top: 40vh;
            margin-bottom: 40vh;
        }
    }
}