@import 'src/styles/_colors';
@import 'src/styles/_screen_sizes';

.ArticleContainer {
    margin-left: 24px;
    margin-right: 24px;

    p {
        font-size: 16px;

        a {
            color: $link-color;
            font-weight: bold;
        }    
    }

    code {
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        padding: 2px 4px;
        color: #004276;
        background-color: rgb(207, 223, 235);
        border-radius: 4px;
        }
}

@media (min-width: $small-screen) {
    .ArticleContainer {
        margin-left: 96px;
        margin-right: 96px;
    }
}

@media (min-width: $large-screen) {
    .ArticleContainer {
        margin-left: 20%;
        margin-right: 20%;
    }
}