@import 'src/styles/_colors';

.ArticleContainer {
    margin-left: 24px;
    margin-right: 24px;

    p {
        font-size: 16px;

        a {
            color: $link-color;
            font-weight: bold;
        }    
    }
    code {
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        padding: 2px 4px;
        color: #004276;
        background-color: rgb(207, 223, 235);
        border-radius: 4px;
        }
}