@import 'src/styles/_colors';

* {
  font: 400 16px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.ArticleList {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}