@import 'src/styles/_colors';

.ArticleItem {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
    display: block;
    border-bottom: 1px solid $line-color;
    box-sizing: border-box;
    padding: 24px 0;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

a {
    color: $link-color;
}


